 @charset "utf-8";
/* CSS Document */




	/*CSS Reset*/
	
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
		margin:0;
		padding:0;
	}
	table {
		border-collapse:collapse;
		border-spacing:0;
	}
	fieldset,img { 
		border:0;
	}
	address,caption,cite,code,dfn,em,strong,th,var,small {
		font-style:normal;
		font-weight:normal;
	}
	ol,ul {
		list-style:none;
	}
	caption,th {
		text-align:left;
	}
	h1,h2,h3,h4,h5,h6 {
		font-weight:normal;
	}
	q:before,q:after {
		content:'';
	}
	abbr,acronym { border:0;
	}

	/* General styling */
	
	@font-face {
    font-family: "American-Typewriter";
    src: url('american-typewriter.ttf');
	
	
}
	button{
	cursor:pointer;
	border: none;
	width: 300px;
	background: transparent;
	padding: 0;
	margin: 0;
	}
	body {
		position: absolute;
		top: 0px;
		bottom: 60px;
		left: 0px;
		right: 0px;
		background:#D6D0D2;	
		font-family: NotethisRegular, Verdana, Arial, sans-serif;
		font-size:125%;
		color:#202020;
		/*height: auto;*/
	}

	/*Splash*/
	.imageSplash {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../images/giphy.gif');
		background-size: cover;
		-webkit-transition: all 3s ease;
		transition: all 3s ease;
		background-attachment: fixed;
		z-index: 998;
	}
	.imageSplash h1 {
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		position: absolute;
		color: #FFF;
		padding: 20px;
	}
	.clickScroll {
		z-index: 999;
		opacity: 0;
		height: 0px;
		position: absolute;
	}
	label {
		color: #FFF;
		font-size: 3em;
		position: absolute;
		bottom: 0%;
		left: 50%;
		z-index: 3;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		-webkit-text-stroke: 0px;
		cursor:pointer;
	}
	input[type=checkbox]:checked ~ .imageSplash {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	
	input[type=checkbox]:checked ~ ul#index_cards li{
		-ms-transform: scale(0.5,1); /* IE 9 */
    -webkit-transform: scale(0.5,1); /* Safari */
    transform: scale(0.5,1);
	}
	
	
	
	/*Content*/
	
	
	#wrapper {
		max-width:1200px;
		min-width: 475x;
		height: 100%;
		background:#D6D0D2;	
		margin:0 auto;
		text-align:center;

		}
	
	#banner {
		max-width:1400px;
		height: 30px;
		vertical-align: top;
	}
	
	#contactDiv {
		width: 200px;
		height: 30px;
		float: right;
		font-family: "American-Typewriter";
		text-decoration: underline;
	}
	#middle{
		max-width: 1200px;
		min-width: 725px;
		height: 100%;	
		white-space: nowrap;
		

	}
	#leftColumn{
		/*position: absolute;*/
		display: inline-block;
		width:250px;
		float: left;
		height: 100%;
		padding-top:30px;
		white-space: normal;
	}
	
	#stacks{
		display: inline-block;
		max-width: 950px;
		white-space: normal;
	}
	#logo{
    position: fixed;
    padding: 30px;
    left:20%
    top: 0%;
    transform: translateX(-50%);
	}
	#thinLogo{
		padding-top: 30px;
		padding-top: 30px;
		padding-left: 40px;
		width:475px;
		height: 250px;
		float: left;
	}
	#stack4{
		width: 475px;
		height: 400px;
		float: left;

	}
	
	#stack3{
		width: 475px;
		height: 400px;
		float: left;

	}
	
	#stack2{
		width: 475px;
		height: 400px;
		float: left;
	}
	
	#stack1{
		width: 475px;
		height: 400px;
		float: left;
	}
	
	ul#index_cards {
		/*margin-top:50px;
		text-align:center;*/
	}

		ul#index_cards li {
			/*background:url(../images/card_bg.jpg) repeat;
			height:450px;*/			
			/*display:block;*/
			float:left;
			/*padding:25px 10px;*/
			position:relative;
			-moz-box-shadow: -2px -2px 4px #888888;
			-webkit-box-shadow: -2px -2px 4px #888888;
			-moz-transition: all 0.2s ease-in-out;
			-webkit-transition: all 0.2s ease-in-out;
			
		}
	
	
	
	#card-1 {
		z-index:1;
		left:60px;
		top:100px;
	}
	
	#card-2 {
		z-index:2;
		left:90px;
		top:-220px;
	}
	
	#card-3 {
		z-index:3;
		left:120px;
		top:-540px;
	}
	
	#card-4 {
		z-index:4;
		left:150px;
		top:-860px;
	}
	
	
	/* Hover States */
	
	
	ul#index_cards li:hover {
		z-index:6;
		-moz-transform: scale(1.1);
   	 	-webkit-transform: scale(1.1); 
	}
	
	/* Content Styling */
	
			ul#index_cards li img {
				/*margin-top:7px;*/
				width: 300px;
				background:#eee;
				-moz-box-shadow: 0px 0px 5px #aaa;
				-webkit-box-shadow: 0px 0px 5px #aaa;
			}
			
			
	#testArea{
		position: fixed;
		bottom: 60px;
		width: 100%;
		float: left;
		z-index: 10;

	}
	
	@media only screen and (max-width: 725px) {
    #leftColumn {
        display: none;
		}
	
	}
	@media only screen and (min-width: 725px) {
	#thinLogo{
		display: none;
		}
	}
	
	
	
		
